# GitHub's Linguist doesn't properly classify many languages
# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
*.h            text eol=lf  linguist-language=C
*.c            text eol=lf  linguist-language=C
*.cpp          text eol=lf  linguist-language=C++
*.hpp          text eol=lf  linguist-language=C++
*.cuh          text eol=lf  linguist-language=CUDA
*.S            text eol=lf  linguist-language=Assembly
*.ptx          text eol=lf  linguist-language=Assembly
